<!doctype html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link th:href="@{/css/adminPage.css}" href="../static/css/adminPage.css" rel="stylesheet">
</head>
<body>
	<h1>Admin felület</h1>
	<hr>
	<h3>
		<a href="newCar.html" >Új autó felvitele</a>
	</h3>

	<h1>Autók listája</h1>

	<table class="carsManageTable">
		<tr>
			<th id="name" class="carsManageHead">Név</th>
			<th class="carsManageHead">Váltó</th>
			<th class="carsManageHead">Ülések</th>
			<th class="carsManageHead">Napi ár</th>
			<th id="carEditButton" class="carsManageHead"></th>
			<th id="carDeactivationButton" class="carsManageHead"></th>
		</tr>
		<tr th:each="car : ${carList}">
			<td th:text="${car.name}" class="carsManageCell"></td>
			<td th:text="${car.gearShift}" class="carsManageCell"></td>
			<td th:text="${car.seats}" class="carsManageCell"></td>
			<td th:text="${car.price}" class="carsManageCell"></td>
			<td class="carsManageCell">
				<a th:href="@{/updateCar/{id}(id=${car.id})}" class="update">Módosítás</a>
			</td>
		</tr>
	</table>

	<h1>Foglalások listája</h1>

	<table class="bookedManageTable">
		<tr>
			<th id="userName" class="bookedManageHead">Név</th>
			<th class="bookedManageHead">Email</th>
			<th class="bookedManageHead">Cím</th>
			<th class="bookedManageHead">Telefon</th>
			<th class="bookedManageHead">Napok</th>
			<th class="bookedManageHead">Mettől</th>
			<th class="bookedManageHead">Meddig</th>
			<th class="bookedManageHead">Ár</th>
			<th class="bookedManageHead">Autó</th>
		</tr>
		<tr th:each="booked : ${bookingList}">
			<td th:text="${booked.name}" class="bookedManageCell"></td>
			<td th:text="${booked.email}" class="bookedManageCell"></td>
			<td th:text="${booked.address}" class="bookedManageCell"></td>
			<td th:text="${booked.phone}" class="bookedManageCell"></td>
			<td th:text="${booked.days}" class="bookedManageCell"></td>
			<td th:text="${booked.startDate}" class="bookedManageCell"></td>
			<td th:text="${booked.endDate}" class="bookedManageCell"></td>
			<td th:text="${booked.price}" class="bookedManageCell"></td>
			<td th:text="${booked.carId}" class="bookedManageCell"></td>
		</tr>
	</table>
</body>
</html>